@model IEnumerable<EntityFramework.Models.movement>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Date</label>
            </th>
            <th>
                <label>Client Id</label>
            </th>
            <th>
                <label>Account Number</label>
            </th>
            <th>
                <label>Account Type</label>
            </th>
            <th>
                <label>Movemdent Type</label>
            </th>
            <th>
                <label>Amount</label>
            </th>
            <th>
                <label>Current Belance</label>
            </th>
            <th>
                <label>Start Balance</label>
            </th>
            <th>
                <label>State</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clientid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.movement_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
            </td>
        </tr>
}
    </tbody>
</table>
