@model IEnumerable<EntityFramework.Models.account>

@{
    ViewData["Title"] = "Index";
}

<h1>Account management</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Client Id</label>
            </th>
            <th>
                <label>Account Nummber</label>
            </th>
            <th>
                <label>Account type</label>
            </th>
            <th>
                <label>Star Balance</label>
            </th>
            <th>
                <label>State</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.clientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_num)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.account_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.start_balance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
